
.single-movie {
  background: purple;
  width: 100vw;
  height: 100vh;
  text-align: center;
  padding-top: 2em;
  color: rgb(153, 218, 238);
}

.backdrop-holder {
  width: 100%;
}

.backdrop-image {
  width: 500px;
}

.movie-details-holder {
}

.card-title {
  font-size: xx-large;
  padding: .5em;
}

.return-button {
  background: green;
  border-radius: .3em;
  border: .05em solid  rgb(245, 240, 240);
  color:  rgb(245, 240, 240);
  text-decoration: none;
}


