.movies-container {
  background: purple;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  
}

.no-movies {
  text-align: center;
  background: purple;
}